/* style.css */

.custom-sidebar {
    width: 200px;
    background-color: #150;
    padding: 20px;
}

.custom-sidebar .stRadio {
    color: white;
    padding: 8px;
    font-size: 14px;
    text-align: left;
}

.custom-sidebar .stRadio input:checked + label::before {
    border: 2px solid white; /* Style the checked state */
}
